{% extends "index.html" %}
{% import "macros/series.html" as series_macros %}
{% import "macros/support.html" as support_macros %}

{%- block title -%}
{{ title_macros::title(page_title=page.title, main_title=config.title) }}
{%- endblock -%}

{% block content %}
    <div class="post">
        {{ post_macros::header(page=page) }}
        {{ series_macros::inline(page=page) }}
        {{ post_macros::content(page=page, summary=false, show_only_description=false) }}
        {{ support_macros::block(placement="post") }}
        <div data-mobile-subscribe-host></div>
        {{ post_macros::earlier_later(page=page) }}
    </div>
{% endblock content %}

{% block extra_body %}
{{ super() }}
<script src="{{ get_url(path='js/toc.js') | safe }}"></script>
{% endblock extra_body %}
